@import '../../styles.scss';
.light-primary{
  fill: var(--primary-500);
}
.light-secondary{
  fill: var(--primary-200);
}
.text{
  fill: var(--text)
}
.shadow{
  fill: var(--shadow);
}
.dark-primary{
  fill: var(--primary-500);
}
.dark-secondary{
  fill: var(--primary-200);
}
