.headder{
  width:100vw;
  height: 10vh;
  background-color: var(--header);
  box-shadow: 0px 5px 8px var(--shadow);
  top: 0px;
  position: fixed;
  z-index: -1;
}

.container {
  height:10vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 10vh;
}

.item {
  height: 10vh;
  width: 15vw; /* A fixed width as the default */
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10vh;
  line-height: 10vh;
}

.item + .item {
  margin-left: 2%;
}

.brand-logo{
  width:10vh;
  margin: 2.5vw;
}

a{
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
  color: var(--text);
  font-size: 5vh;
  margin: 2.5vw;
}
