.search-box{
  z-index: 5000;
  width:50vw;
  height: 60vh;
  left: 25%;
  top: 20%;
  position:fixed;
  border-radius: 3rem;
  background-color: var(--header);
  box-shadow: 0px 0px 15px var(--shadow);
}

.search-bar {
  padding: 12px;
  font-size: 23px;
  border-width: 0px;
  background-color: var(--header);
  color: var(--text);
  margin:auto;
  margin-top: 5px;
  display: flex;
  width:90%;
}

.css-input:focus {
  outline:none;
}
