<div class="container">
  <div><fa-icon [icon]=faAngular class="ng"></fa-icon></div>
  <div><fa-icon [icon]=faJsSquare class="js"></fa-icon></div>
  <div><fa-icon [icon]=faCss3 class="css"></fa-icon></div>
  <div><fa-icon [icon]=faHtml5 class="html"></fa-icon></div>
  <div><fa-icon [icon]=faPython></fa-icon></div>
  <div><fa-icon [icon]=faNodejs></fa-icon></div>
  <div><fa-icon [icon]=faLinux></fa-icon></div>
  <div><fa-icon [icon]=faDocker></fa-icon></div>
  <div><fa-icon [icon]=faVuejs></fa-icon></div>
  <div><fa-icon [icon]=faReact></fa-icon></div>
  <div><fa-icon [icon]=faGit></fa-icon></div>
  <div><fa-icon [icon]=faJira></fa-icon></div>
  <div><fa-icon [icon]=faRaspberryPi></fa-icon></div>
  <div><fa-icon [icon]=faSass></fa-icon></div>
  <div><fa-icon [icon]=faWindows></fa-icon></div>
  <div><fa-icon [icon]=faYarn></fa-icon></div>
  <div><fa-icon [icon]=faNetworkWired></fa-icon></div>
  <div><fa-icon [icon]=faShieldAlt></fa-icon></div>
  <div><fa-icon [icon]=faDatabase></fa-icon></div>
  <div><fa-icon [icon]=faDesktop></fa-icon></div>
  <div><fa-icon [icon]=faNpm></fa-icon></div>
</div>
